* {background-color: wheat;}

:root {
  --width: 80px;
  --x-speed: 2.5s;
  --y-speed: 3.5s;
  --transition-speed: 1s;
  --dashboard-height: 100px;
}

button {
background-color:#7892c2;
-moz-border-radius:28px;
-webkit-border-radius:28px;
border-radius:28px;
border:1px solid #4e6096;
display:inline-block;
cursor:pointer;
color:#ffffff;
font-family:Arial;
font-size:30px;
padding:16px 31px;
text-decoration:none;
text-shadow:0px 1px 0px #283966;
margin: 100px;
}

.dashboard {
    height: var(--dashboard-height);
}

.el { 
  width: var(--width);
  height: var(--width);
  position: absolute;
  cursor: pointer;
}

.x {
  animation: x var(--x-speed) linear infinite alternate;
}
.y {
  border-radius: 50%;
  border: 2px solid;
  animation: y var(--y-speed) linear infinite alternate;
}

@keyframes x {
  100% {
    transform: translateX(calc(100vw - var(--width)));
  }
}
@keyframes y {
  100% {
    transform: translateY(calc(100vh - var(--width) - var(--dashboard-height)));
  }
}

