* {
    margin: 10px 10px;
}
button {
    background-color: #0E4774;
    border-radius:28px;
    color:#e4a04d;
    font-family:Arial;
    font-size:20px;
    font-style: bold;
    padding:16px 31px;
    text-shadow:0px 1px 0px #283966;
    cursor: pointer;
}
button:disabled {
    color: #AA6010;              /* Darker gray text */
    cursor: not-allowed;         /* Change the cursor icon */
    opacity: 0.9;                /* Optional: reduce opacity for a faded look */
}